{% extends 'base.html' %}

{% block content %}
<h2>Добро пожаловать на ОПС</h2>
<p>
    Чтобы посмотреть новости, нажмите на <b>"Новости"</b> в шапке страницы.
</p>
<p align="center">
    Чтобы решить ваши уравнения перейдите на вкладку <b>"Конс-решало"</b>
    <br>и в командной строке укажите после <i><u>/?a=0&b=0&c=0</u></i>,
    где 0 - любое число,
    <br>которое вам нужно
</p>
<p align="center">
    Чтобы порешать и потренироваться самому в нахождении корней,
    <br> то переходи на вкладку <b>"Тренажёр"</b>
</p>
{% endblock %}